@import "show";
@import "new";

.website-title {
  font-size:30px;
  font-weight:bold;
  font-family:Georgia;
  color:darkgreen;
}

.subtitle-header{
  font-size:40px;
  font-weight:bold;
}

.subtitle{
  line-height:200%;
  margin-top:30px;
}

.cards-container {
  margin-top:50px;
}

.add-button {
  align-items:center;
  justify-content:center;
}

.card-list a {
  color: white;

}

.card-list a:hover {
  opacity: 80%;
  color:white;
}


.card-list-no-img a {
    color: darkgreen;
}

.card-list-no-img a:hover {
    opacity: 90%;
}
