

.green-button {
  background-color: darkgreen;
  padding:5px 20px;
  border-radius:5px;
  color:white;

    a {
    color:white;
    }

    &:hover {
      opacity:70%;
      transition: 1s;
    }
}

.green-button a:hover {
   opacity:1;
   color:white;
}

.delete-button {
  border-radius:50%;
  background-color: darkgreen;
  width:10px;
  height:10px;
  padding:5px 8px;
  color:white;
}

.delete-button:hover {
  color:white;
}

