

.green-button {
  background-color: darkgreen;
  padding:5px 20px;
  border-radius:5px;
  color:white;

    a {
    color:white;
    }

    &:hover {
      opacity:80%;
    }
}

.delete-button {
  border-radius:50%;
  border: 1px solid darkgreen;
  padding:5px 10px;
}
